[submodule "BetterBeerBackend"]
	path = BetterBeerBackend
	url = https://github.com/igtl314/BetterBeerBackend.git
	branch = main
[submodule "goDataCollection"]
	path = goDataCollection
	url = https://github.com/igtl314/goDataCollection.git
	branch = main
[submodule "betterbeerfrontend"]
	path = betterbeerfrontend
	url = https://github.com/igtl314/betterbeerfrontend.git
	branch = main
